@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}


.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:400;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
}

.midnav a.active{
  color:#179800 ;
  text-decoration: underline;
  font-weight: 900;
}


.swiper-button-next,
.swiper-button-prev {
  color: #179800 !important; 
  width: 20px !important;
}

.swiper-pagination-bullet {
  background-color: #179800 !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #179800 !important;
  opacity: 1;
}
